/* base&variables */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a {
	list-style: none;
	color: var(--color-white);
	text-decoration: none;
}
:root {
	--background: #EBE4DC;

	--accent: #4B3E3C;

	--color-white: #fff;
	--color-black: #000;

	--sizedesktop-display: 40px;
	--sizedestop-header: 32px;
	--sizedesktop-medium: 24px;
	--sizedestop-main: 18px;
	--sizedesktop-descript: 16px;
	--sizedesktop-button: 14px;
	--sizedestop-footer: 20px;

	--sizetablet-display: 36px;

	--sizemobile-display: 20px;
	--sizemobile-header: 18px;
	--sizemobile-descript: 16px;
	--sizemobile-medium: 14px;
	--sizemobile-main: 12px;
	--sizemobile-mini: 10px;
	--sizemobile-footer: 20px;
}

/* connect fonts */
@font-face {
	font-family: exo2;
	font-weight: 400;
	src: url(fonts/Exo2/Exo2-Regular.ttf);
}
@font-face {
	font-family: exo2;
	font-weight: 900;
	src: url(fonts/Exo2/Exo2-ExtraBold.ttf);
}
@font-face {
	font-family: exo2;
	font-weight: 300;
	src: url(fonts/Exo2/Exo2-Light.ttf);
}


/* styles */
body {
	background-color: var(--background);
	font-family: 'exo2';
	font-weight: 400;
	font-size: var(--sizedestop-main);
}

.now-hidden {
	display: none;
}

.header {
	max-width: 455px;
	text-align: center;
	font-weight: 900;
	font-size: var(--sizedesktop-display);
	color: var(--accent);
	margin: 0 auto;
	margin-bottom: 24px;
}


/* menu */
header {
	background-color: var(--accent);
}
.menu {
	max-width: 1140px;
	margin: 0 auto;
	width: 100%;
	height: 80px;
}
.desktop__menu {
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 100%;
}
.menu__element {
	font-size: var(--sizedestop-header);
}
.for-dropdown {
	position: relative;
	padding: auto 0;
	height: 100%;
	display: flex;
	align-items: center;
}
.z-index {
	color: white;
	z-index: 2 !important;
}
.for-dropdown:hover .dropdown__menu {
  opacity: 1;
  transform: translate(-40px, 65px);
	height: auto;
	padding: 20px 40px;
}
.dropdown__menu {
	opacity: 0;
	position: absolute;
	transition: all .45s ease;
	background-color: var(--accent);
	transform: translate(-40px, -90px);
	z-index: 0;
	padding: 35px 40px;
	padding-top: 0;
	margin-top: 30px;
	height: 0;
	top: -35px;
}
.dropdown__menu > * {
	display: block;
	margin-bottom: 10px;
}
.dropdown__menu a:last-child {
	margin-bottom: 0px;
}


/* main elements */
.banner {
	background-color: #fff;
	width: 100%;
	height: 540px;
	background-image: url('images/banner.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}

.hi {
	width: 100%;
	padding: 64px;
	display: flex;
	justify-content: space-around;
}
.hi__text {
	max-width: 40%;
	align-self: center;
}
.hi__header {
	font-weight: 900;
	color: var(--accent);
	font-size: var(--sizedesktop-display);
	margin-bottom: 20px;
}
.hi__regular {
	font-size: var(--sizedestop-header);
}
.hi__image {
	height: 744px;
	width: 45%;
	background-image: url(images/hi.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.what-i-do,
.prices,
.feedback,
.contact {
	padding: 9vw;
	padding-top: 0;
	padding-bottom: 64px;
}
.what-i-do .gallery {
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.what-i-do .gallery__item {
	width: 23%;
}
.what-i-do .gallery .gallery__photo {
	width: 100%;
	height: 392px;
	background-image: url(images/individual.jpg);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
}
.what-i-do .gallery .gallery__item:nth-child(2) .gallery__photo {
	background-image: url(images/family.jpg);
}
.what-i-do .gallery .gallery__item:nth-child(3) .gallery__photo {
	background-image: url(images/love-story.jpg);
}
.what-i-do .gallery .gallery__item:nth-child(4) .gallery__photo {
	background-image: url(images/photo-reportage.jpg);
}
.what-i-do .gallery__name {
	font-size: var(--sizedesktop-descript);
	margin: 24px auto 26px;
	width: max-content;
}
.what-i-do .gallery__button {
	background: var(--accent);
	padding: 9px;
	border-radius: 61px;
	font-size: var(--sizedesktop-button);
	text-align: center;
	font-weight: 300;
}

.prices__items {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	flex-wrap: wrap;
}
.prices__item {
	flex-basis: 350px;
	justify-self: center;
	border: #4B3E3C solid 1px;
	min-height: 520px;
	position: relative;
}
.prices__item--header {
	font-size: var(--sizedesktop-medium);
	text-align: center;
	margin: 10px 0 20px 0;
}
.prices__item--list {
	padding: 0 15px;
	padding-bottom: 15px;
}
.prices__item--list li {
	font-size: var(--sizedesktop-main);
	margin: 10px 0px 0;
	list-style-type: "•";
	padding-inline-start: 10px;
}
.prices__item--list li:first-of-type {
	margin-top: 0;
}
.prices__item--price {
	text-align: center;
	width: 100%;
	position: absolute;
	bottom: 20px;
	font-size: var(--sizedesktop-medium);
}
.width-plus {
	flex-basis: 580px;
	padding-left: 24px;
	min-height: max-content;
	margin-top: 20px;
}

.feedback__items {
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 28px;
	flex-wrap: wrap;
}

.feedback__item {
	flex-basis: 48%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.feedback__item--ava {
	height: 126px;
	width: 126px;
	flex-shrink: 0;
	background-image: url(images/ava1.png);
	background-size: contain;
}
.feedback__item--text {
	font-size: var(--sizedestop-main);
	padding-left: 12px;
}
.feedback__item:nth-child(2) .feedback__item--ava {
	background-image: url(images/ava2.png);
}
.feedback__item:nth-child(3) .feedback__item--ava {
	background-image: url(images/ava3.png);
}
.feedback__item:nth-child(4) .feedback__item--ava {
	background-image: url(images/ava4.png);
}

.contact__items {
	display: flex;
	width: 100%;
	justify-content: space-between;
}
.contact__item {
	padding: 16px 7vw;
	border-radius: 67px;
	background-color: var(--accent);
	font-size: var(--sizedesktop-button);
}

footer {
	background-color: var(--accent);
	padding: 40px 230px;
}
.footer__container {
	display: flex;
	justify-content: space-between;
	width: 100%;
	align-items: center;
}
.footer__menu {
	display: flex;
	flex-direction: column;
	gap: 15px;
}
.copyright,
.footer__menu--el {
	color: var(--color-white);
	font-weight: 300;
	font-size: var(--sizedestop-footer);
	position: relative;
}
.copyright::before {
	content: '©';
	position: absolute;
	top: 0;
	left: -22px;
}

/* mobile menu styles*/

.mobile__menu {
	position: fixed;
	background-color: var(--accent);
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 2;
	display: flex;
	flex-direction: column;
	gap: 15%;
	justify-content: center;
	padding-left: 50px;
	transform: translateX(0);
	transition: all 0.35s ease-in-out;
}
.mobile__menu--element {
	display: block;
}
.mobile__menu.hidden {
	transform: translateX(100vw);
}
.menu--burger {
	z-index: 3;
}
.menu--burger:hover {
	cursor: pointer;
}


/* PORTFOLIO GALLERY */
.portfolio-gallery {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-items: center;
	column-gap: 20px;
	row-gap: 40px;
	padding: 64px 9vw;
}
.portfolio-gallery__item {
	max-width: 350px;
}
.portfolio-gallery__item img {
	width: 100%;
}


/* RESPONSIVE STYLES */

/* fixes */
@media (max-width: 1331px) {
	.prices {
		padding: 3vw;
	}
}

/* --tablet-- */
@media (max-width: 1194px) {
	/* global styles */
	.header {
		font-size: var(--sizetablet-display);
	}
	.what-i-do,
	.prices,
	.feedback,
	.contact {
		padding: 3vw;
		padding-top: 0;
		padding-bottom: 56px;
	}

	/*menu*/
	.menu__element {
		font-size: var(--sizedesktop-medium);
	}

	/* hi */
	.hi {
		padding: 40px;
	}
	.hi__header {
		font-size: var(--sizetablet-display);
	}

	/* what-i-do */
	.what-i-do .gallery .gallery__photo {
		height: 373px;
	}

	/* prices */
	.prices {
		padding: 2vw;
	}
	.prices__item {
		flex-basis: 45%;
		min-height: 446px;
	}
	.width-plus {
		margin-top: 0;
		padding-left: 0;
	}

	/* footer */
	footer {
		padding: 50px 15vw;
	}

	/* portfolio gallery */
	.portfolio-gallery {
		grid-template-columns: 1fr 1fr 1fr 1fr;
		column-gap: 25px;
		row-gap: 32px;
		padding: 54px 3vw;
	}
}

/* fixes */
@media (max-width: 1080px) {
	.prices__item {
		min-height: 510px;
	}
}

/* begin mobile styles */
@media (max-width: 900px) {
	/* prices */
	.prices__items {
		flex-direction: column;
		align-items: center;
	}
	.prices__item {
		min-height: 380px;
		width: 90%;
	}

	/* feedback */
	.feedback__items {
		flex-direction: column;
		align-items: center;
	}
	.feedback__item {
		width: 90%;
	}
}

/* mobile styles */
@media (max-width: 770px) {
	/* global styles */
	.header {
		font-size: var(--sizemobile-display);
		max-width: 300px;
		margin-bottom: 10px;
	}
	.what-i-do,
	.prices,
	.feedback,
	.contact {
		padding: 4vw;
		padding-top: 0;
		padding-bottom: 32px;
	}

	/* menu */
	.desktop__menu {
		display: none;
	}
	.now-hidden {
		display: block;
	}
	.menu {
		height: 53px;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		padding-right: 24px;
	}
	.for-dropdown {
		position: relative;
		padding: 0;
		height: auto;
		display: block;
	}
	.for-dropdown:hover .dropdown__menu {
		transform: translate(120px, -40px);
		height: auto;
		padding: 0px 0px 40px;
	}
	.dropdown__menu {
		transform: translate(10px, -40px);
	}


	/* banner */
	.banner {
		height: 180px;
	}

	/* hi */
	.hi {
		padding: 35px 4vw;
		flex-direction: column;
	}
	.hi__text {
		max-width: 100%;
	}
	.hi__header {
		font-size: var(--sizemobile-display);
		margin-bottom: 15px;
	}
	.hi__regular {
		font-size: var(--sizemobile-header);
	}
	.hi__image {
		margin-top: 40px;
		height: 407px;
		width: 100%;
		background-size: cover;
	}

	/* what i do */
	.what-i-do .gallery {
		flex-direction: column;
		gap: 16px;
	}
	.what-i-do .gallery__item {
		width: 100%;
	}
	.what-i-do .gallery__name {
		font-size: var(--sizemobile-descript);
		margin: 8px auto 13px;
	}
	.what-i-do .gallery__button {
		padding: 11px;
	}

	/* prices */
	.prices__item {
		width: 100%;
		min-height: auto;
	}
	.prices__item--header {
		font-size: var(--sizemobile-medium);
		margin: 15px 0 20px 0;
	}
	.prices__item--list li {
		font-size: var(--sizemobile-main);
		margin: 15px 0 0;
	}
	.prices__item--price {
		position: relative;
		font-size: var(--sizemobile-medium);
		margin-top: 20px;
	}

	/* feedbacks */
	.feedback__items {
		gap: 10px;
	}
	.feedback__item--ava {
		height: 71px;
		width: 71px;
	}
	.feedback__item--text {
		font-size: var(--sizemobile-mini);
		padding-left: 8px;
	}

	/* contact */
	.contact__items {
		flex-direction: column;
		gap: 8px;
	}
	.contact__item {
		text-align: center;
		font-size: var(--sizemobile-main);
	}

	/* footer */
	footer {
		padding: 18px 24px;
	}
	.footer__menu {
		height: 72px;
		flex-wrap: wrap;
		gap: 8px;
		justify-content: center;
	}
	.footer__menu--el{
		font-size: var(--sizemobile-main);
		margin-right: 10px;
	}
	.copyright {
		font-size: var(--sizemobile-main);
		max-width: 130px;
	}
	.copyright span.now-hidden {
		display: inline;
	}
	.copyright::before {
		display: none;
	}

	/* portfolio gallery */
	.portfolio-gallery {
		grid-template-columns: 1fr;
		row-gap: 16px;
		padding: 24px 2vw;
	}
}